version: "3.8"

services:
  index-server:
    # build:
    #   context: ..
    #   dockerfile: docker/worker.Dockerfile
    image: giorgospaphitis/personal:cs452-worker
    ports:
      - "${WORKER_PORT:-7778}:${WORKER_PORT:-7778}"
    command: worker node0:9100 node1:${WORKER_PORT:-7778}
    working_dir: /app
    volumes:
      - /mnt/mapReduceData:/app/data